.cf-collapsing-panel {
	
	&__title {
		margin-bottom: 1.2em;

		&::before {
			width: 1em;
			height: 1em;
			background: url($arrow-down) top center / auto 100% no-repeat;
			transform: rotate(-90deg);
			transform-origin: center;
			transition: transform 100ms ease-out;
			margin-right: 1.3em;
		}
	}

	&--open {
		.cf-collapsing-panel__title {
			&::before {
				background: url($arrow-down) top center / auto 1em no-repeat;
				transform: rotate(0deg);
			}
		}
	}
	
}