.cf-carousel {
	
	// Title text
	&__text-list {
		flex: 1;
	}
	&__text {
		font-size: em(25);
		line-height: 1.2;
		color: $font-body-color;
	}

	// Navigation
	&__navigation-button {
		&--next,
		&--back {
			background: none;

			&::before {
				display: block;
				font-size: 1.5em;
				color: $font-body-color;
			}
		}
		&--next {
			&::before {
				content: "\02192";
			}
		}
		&--back {
			&::before {
				content: "\02190";
			}
		}
	}
	
	// Control
	&__control-row {
		align-items: center;
		margin-bottom: em(27);
		justify-content: space-between;
	}
	&__control {
		margin-bottom: em(48);
	}
	
	// Pagniation items
	&__paging-item {
		background: none;
    width: 20px;
    height: 20px;
    margin: 0 .5em .8em;
		border: solid 2px $medium-grey;
		border-radius: 50%;

		&:hover {
			border-color: $kpmg-blue--medium;
		}

		&::before,
		&:hover::before {
			display: none;
		}

		&--current {
			border: none;
			background-image: url($radio-button-selected);
			background-size: 100%;
			background-repeat: no-repeat;
		}
	}

}