

/* Answer text */
.cf-grid-answer__text {
	line-height: 1.5;
}

/* Grid header */
.cf-grid-answer--fake-for-panel {
	background: $background-color;
	border-top: solid 1px #CDCCCC;
	border-bottom: solid 1px #CDCCCC;
	margin-bottom: em(30);
}

/* Grid label */
.cf-grid-answer__labels {
	padding: 0;
	
	.cf-grid-answer__label {
		flex: 1;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.5;
		padding: em(16, 14) em(12, 14);
		font-family: $font-body;
		color: $font-body-color;
	}
}

/* Grid scale item */
.cf-grid-answer__scale-item {
	@extend %radio-button-container;
  flex: 1;

  &--selected {
  	@extend %radio-button-container--selected;
	}
}


/* Multi checkbox */
.cf-grid-answer--multi {
	.cf-grid-answer__scale-item {
		@extend %checkbox-container;

		&--selected {
			@extend %checkbox-container--selected;
		}
	}
}