.cf-question {
	box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  margin-bottom: 13.5/ $base-unit+em;

  &__text {
  	font-family: $font-body;
  	font-weight: bold;
  	font-size: 14/$base-unit+em;
  	color: $font-body-color;
  }
}