// KPMG
@font-face {
  font-family: 'KPMG';
  src:  url('~@assets/fonts/KPMG-Web-Thin.woff2') format('woff2'),
        url('~@assets/fonts/KPMG-Web-Thin.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KPMG';
  src:  url('~@assets/fonts/KPMG-Web-Light.woff2') format('woff2'),
        url('~@assets/fonts/KPMG-Web-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
