/**
 * Color
 */
// Essential color
$light-grey: #f4f3f1;
$medium-grey: #9d9b9b;
$black: #333333;
$white: #ffffff;
$orange: #f2792c;
$teal: #00a3a1;
$warm-grey: #999999;

// Named color
$kpmg-blue: #00338D;
$kpmg-blue--medium: #005eb8;
$kpmg-blue--light: #0091da;

// Contextual color
$background-color: #f9f9f9;
$font-body-color: $black;


/**
 * Easing
 */
$easeOutQuint : cubic-bezier(0.23, 1, 0.32, 1);
$easeOutSine : cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInSine   : cubic-bezier(0.470, 0.000, 0.745, 0.715);


/**
 * Fonts
 */
// Essential font stacks
$arial-font-stack: Arial, Helvetica Neue, Helvetica, sans-serif;
$segoe-ui-font-stack: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
$kpmg-font-stack: "KPMG", Arial Narrow, Arial, sans-serif;

// Named fonts
$font-body: $arial-font-stack;


/**
 * SVG data url
 */
$radio-button-unselected: 'data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cg%20fill%3D%22%23fff%22%20stroke%3D%22%23a6a8ab%22%20stroke-width%3D%222%22%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%2210%22%20stroke%3D%22none%22%2F%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%229%22%20fill%3D%22none%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E';
$radio-button-selected: 'data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%20510%20510%22%3E%3Cpath%20d%3D%22M255%200C114.75%200%200%20114.75%200%20255s114.75%20255%20255%20255%20255-114.75%20255-255S395.25%200%20255%200zm-51%20382.5L76.5%20255l35.7-35.7%2091.8%2091.8%20193.8-193.8%2035.7%2035.7L204%20382.5z%22%20data-original%3D%22%23000000%22%20class%3D%22active-path%22%20data-old_color%3D%22%23000000%22%20fill%3D%22%23005EB8%22%2F%3E%3C%2Fsvg%3E';
$checkbox-unselected: 'data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI3OC43OTkgMjc4Ljc5OSI+PHBhdGggZD0iTTI2NS41NCAwSDEzLjI1OUM1LjkzOSAwIC4wMDMgNS45MzYuMDAzIDEzLjI1NnYyNTIuMjg3YzAgNy4zMiA1LjkzNiAxMy4yNTYgMTMuMjU2IDEzLjI1NkgyNjUuNTRjNy4zMTggMCAxMy4yNTYtNS45MzYgMTMuMjU2LTEzLjI1NlYxMy4yNTVDMjc4Ljc5NiA1LjkzNSAyNzIuODYgMCAyNjUuNTQgMHptLTEzLjI1NiAyNTIuMjg3SDI2LjUxNVYyNi41MTFoMjI1Ljc2OXYyMjUuNzc2eiIgZmlsbD0iI2E2YThhYiIvPjwvc3ZnPg==';
$checkbox-selected: 'data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDk1LjE3MiA5NS4xNzIiPjxwYXRoIGQ9Ik05My4xMDQgMEgyLjA2OUEyLjA3IDIuMDcgMCAwIDAgMCAyLjA2OXY5MS4wMzVjMCAxLjE0Mi45MjcgMi4wNjggMi4wNjkgMi4wNjhoOTEuMDMzYTIuMDY4IDIuMDY4IDAgMCAwIDIuMDY5LTIuMDY4VjIuMDY5QTIuMDY4IDIuMDY4IDAgMCAwIDkzLjEwNCAwek03Ni45NDggMzIuNTQ2TDM4LjYwMiA3MC44OTNhMS4yMyAxLjIzIDAgMCAxLTEuNzM4IDBMMTguMjI2IDUyLjI1NmExLjIzIDEuMjMgMCAwIDEgMC0xLjczOGw2LjU0Mi02LjU0MmMuNDYxLS40NjEgMS4yNzctLjQ2MSAxLjczOCAwbDExLjIyNyAxMS4yMjYgMzAuOTM2LTMwLjkzNmMuNDYxLS40NjEgMS4yNzctLjQ2MSAxLjczOCAwbDYuNTQxIDYuNTQyYy4yMy4yMy4zNjEuNTQzLjM2MS44NjkgMCAuMzI2LS4xMzEuNjM4LS4zNjEuODY5eiIgZmlsbD0iIzAwNWViOCIvPjwvc3ZnPg==';
$arrow-down-circle: 'data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NTUgNDU1IiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiI+PHBhdGggZD0iTTIyNy41IDBDMTAxLjg1NSAwIDAgMTAxLjg1NSAwIDIyNy41UzEwMS44NTUgNDU1IDIyNy41IDQ1NSA0NTUgMzUzLjE0NSA0NTUgMjI3LjUgMzUzLjE0NSAwIDIyNy41IDB6bTAgMzI3LjE0OEw5OS40MTEgMTk5LjQ3NmwyMS4xNzgtMjEuMjQ4TDIyNy41IDI4NC43OTFsMTA2LjkxMS0xMDYuNTYzIDIxLjE3OCAyMS4yNDhMMjI3LjUgMzI3LjE0OHoiIGZpbGw9IiMwMDVFQjgiLz48L3N2Zz4=';

/**
 * Config
 */
$base-unit: 16;